{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--<link rel="icon" href="{% static 'img/RVCE_New_Logo.jpeg' %}" type="image/jpeg" sizes="16x16">-->

  <div class="jumbotron" style="background: none;">
    <div class="row">
        <div class="col-md-9"><h1 id="h1">Medical Store Management</h1></div>
    </div>
</div>

  {% block title %}<title>Medical-Shop</title>{% endblock %}

  {% block head %}
  {% endblock %}
  <nav>
    <ul>
        {% if user.is_authenticated %}
        <li>
            <form class="logout-link" action="{%url 'src:logout'%}" method="post">
             {% csrf_token %}
                <button type="submit">logout</button>
            </form>
        </li>
        {% else %}
        <li><a href="{% url 'src:login' %}">Login</a></li>
        <li><a href="{% url 'src:signup' %}">Signup</a></li>
        {% endif %}
    </ul>
</nav>


</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/src/" class="navbar-brand"><span
                    class="glyphicon glyphicon glyphicon-home"></span>&nbsp;HOME</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thisnav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="thisnav">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Medicine Management<b
                        class="caret"></b></a>
                    <ul id="med-menu" class="dropdown-menu inverse-dropdown">
                        <li><a href="/src/medform/">Add Medicine Details</a></li>
                        <li><a href="/src/medtable/">View Medicine Details</a></li>
                    </ul>
                </li>
                
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Customer Management<b
                                class="caret"></b></a>
                            <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                                <li><a href="/src/custform/">Add Customer Details</a></li>
                                <li><a href="/src/custtable/">View Customer Details</a></li>
                            </ul>
                        </li>
                        
                
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">ORDER<b
                                class="caret"></b></a>
                            <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                                <li><a href="/src/ordform/">Add Order</a></li>
                                <li><a href="/src/ordtable/">View Order Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Insurance<b
                          class="caret"></b></a>
                      <ul id="cust-menu" class="dropdown-menu inverse-dropdown">
                          <li><a href="/src/insform/">Add Insurance</a></li>
                          <li><a href="/src/instable/">View Insurance Details</a></li>
                      </ul>
                  </li>
                   
               
            </ul>
        </div>
    </div>
</nav>
</div>

  {% block content %}
  {% endblock %}


 <!-- {% block js %}
    <script src="{% static 'js/main.js' %}"></script>
  {% endblock %}-->

</body>
</html>