{% extends 'src/base.html' %}
{% load static %}

    {% block content %}
<head>
    
    <title>Insurance Details</title>
</head>

<div class="container-fluid martop7">
    <div class="jumbotron jumcust">
        <h2>Insurance Details</h2>
        <div class="row">
            <div class="col-md-1">
            </div>
            <table border="1" class="table table-responsive table-hover col-md-10">
                <tr>
                    <th>Customer ID</th>
                    <th>Insurance Number</th>
                    <th>Company</th>
                    <th>Percent</th>
                </tr>
                {% for foo in ins %}
                    <tr>
                        <td class="idlink"><a href="/src/insformview{{ foo.m_id }}/">{{ foo.c_id }}</a></td>
                        <td>{{ foo.ins_no }}</td>
                        <td>{{ foo.company }}</td>
                        <td>{{ foo.percent }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <footer><h3>Click on a Medicine ID to Update or Delete the record.</h3></footer>
    </div>
</div>


{% endblock %}