{% extends 'src/base.html' %}
{% load static %}

    {% block content %}
<head>
    
    <title>Insurance Details</title>
</head>

<head>
    <style>
    body {
      background-image: url('../../static/medicineshop/images/ins.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
    </style>
    </head>
    <style>
        h2{
        font-family:sans-serif;
        text-transform:uppercase;
        letter-spacing:6pt;
        font: size 2em;
        color:rgb(5, 5, 5);
        line-height:1.6em;
        text-align: center;
      }</style>
<div class="container">
    <div style="background:transparent !important" class="jumbotron ">
        <h2>Insurance Details</h2>
        <div class="row">
            <div class="col-md-1">
            </div>
            <table style="background:transparent !important" class="table table-responsive table-hover col-md-10">
                <tr>
                    <th>Insurance Number</th>
                    <th>Customer ID</th>
                    <th>Company</th>
                    <th>Percent</th>
                </tr>
                {% for foo in ins %}
                    <tr>
                        <td class="idlink"><a href="/src/insformview{{ foo.ins_no }}/">{{ foo.ins_no }}</a></td>
                        <td>{{ foo.c_id }}</td>
                        <td>{{ foo.company }}</td>
                        <td>{{ foo.percent }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <footer><h6>Click on a Medicine ID to Update or Delete the record.</h6></footer>
    </div>
</div>


{% endblock %}