{% extends 'src/base.html' %}

{% block content %}
 <h1> Login</h1>
 <head>
   <style>
   body {
     background-image: url('../../static/medicineshop/images/login.jpg');
     background-repeat: no-repeat;
     background-attachment: fixed;  
     background-size: cover;
   }
   </style>
   </head>
   <body>

 <form class="site-form" action="/src/login/" method= "post">
 {% csrf_token %}
 {{form}}
 {% if request.GET.next %}
    <input type="hidden" name='next' value="{{request.GET.next}}">
 {% endif %}
 <input type="submit" value="login">
 </form>

{% endblock content %}