{% extends 'src/base.html' %}
{% load static %}

    {% block content %}
<head>
    <title>All Order Details</title>
</head>
<head>
    <style>
    body {
      background-image: url('../../static/medicineshop/images/ord.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
    </style>
    </head>
    <style>
        h2{
        font-family:sans-serif;
        text-transform:uppercase;
        letter-spacing:6pt;
        font: size 2em;
        color:rgb(5, 5, 5);
        line-height:1.6em;
        text-align: center;
      }</style>
    {% if user.is_authenticated %}

<div class="container">
    <div  style="background:transparent !important" class="jumbotron">
        <h2>Medicine Details</h2>
        <div class="row">
            <div class="col-md-1">
            </div>
            <table style="width:100%" class="table table-responsive table-hover col-md-10">
                <tr>
                    <th>Order ID</th>
                    <th>Medicine ID</th>
                    <th>Quantity</th>
                    <th>Customer ID</th>
                    <th>COST</th>
                </tr>
                {% for foo in ord %}
                    <tr>
                        <td class="idlink"><a href="/src/ordformview{{ foo.o_id }}/">{{ foo.o_id }}</a></td>
                        <td>{{ foo.m_id }}</td>
                        <td>{{ foo.quantity }}</td>
                        <td>{{ foo.c_id }}</td>
                        <td>{{ foo.cost }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <footer><h6>Click on a Medicine ID to Update or Delete the record.</h6></footer>
    </div>
</div>
{% else %}
<h1> LOGIN TO ACCESS</h1>
{% endif %}


{% endblock %}