{% extends 'src/base.html' %}
{% load static %}

    {% block content %}
<head>
    
    <title>All Order Details</title>
</head>

    {% if user.is_authenticated %}

<div class="container-fluid martop7">
    <div class="jumbotron jumcust">
        <h2>Medicine Details</h2>
        <div class="row">
            <div class="col-md-1">
            </div>
            <table border="1" class="table table-responsive table-hover col-md-10">
                <tr>
                    <th>Order ID</th>
                    <th>Medicine ID</th>
                    <th>Quantity</th>
                    <th>Customer ID</th>
                    <th>COST</th>
                </tr>
                {% for foo in ord %}
                    <tr>
                        <td>{{ foo.o_id }}</td>
                        <td>{{ foo.m_id }}</td>
                        <td>{{ foo.quantity }}</td>
                        <td>{{ foo.c_id }}</td>
                        <td>{{ foo.cost }}</td>
                    </tr>
                {% endfor %}
            </table>
            <h3>Final Cost:</h3>

            <h2>{{s}}</h2>
        </div>
        <div class="col-md-offset-8 padtop15">
            <button type="submit" class="delbut btn btn-danger"><a
                    href="/src/check/">CHECKOUT</a></button>
        </div>
    </div>
</div>
{% else %}
<h1> LOGIN TO ACCESS</h1>
{% endif %}


{% endblock %}